<div style="padding:50px;">
    <div style="padding-bottom: 20px;">
        <button (click)="prefil(0)">ExampleCase1</button>
        <button (click)="prefil(1)">ExampleCase2</button>
        <button (click)="prefil(2)">ExampleCase3</button>
    </div>
    <form  [formGroup]="form">
        <div class="form-group" *ngFor="let ctrl of getFormFields()">
            <mat-checkbox *ngIf="ctrl.type == 'boolean'" color="primary" [formControlName]="ctrl.name" id="ctrl.name"></mat-checkbox>
            <label>{{translate(ctrl.name)}}</label>
            <select *ngIf="ctrl.name == 'country'" [formControlName]="ctrl.name" >
                <option *ngFor="let c of getAllCountries()" [value]="c">{{translate(c)}}</option>
            </select>
            <select *ngIf="ctrl.name == 'profession'" [formControlName]="ctrl.name">
                <option *ngFor="let p of times(100)" [value]="p">{{Profession(p)}}</option>
            </select>
            <input *ngIf="ctrl.type == 'string' && ctrl.name != 'country'" type="text" [formControlName]="ctrl.name">
            <input *ngIf="ctrl.type == 'number' && ctrl.name != 'profession'" type="number" min="0" max="200" [formControlName]="ctrl.name">
            <input *ngIf="ctrl.type == 'boolean'" type="checkbox" [formControlName]="ctrl.name">
        </div>
    
            
        <button (click)="submit()">Predict risk</button>
        <br>
        

    </form>
        <div *ngIf="result?.probability">
            
            <p>
                <span *ngIf="result?.prediction">The individual with the following data will act as a propagation vector for the covid-19 </span>
                <span *ngIf="!result?.prediction">The individual with the following data will not act as a propagation vector for the covid-19</span>
            </p>
            <p>
                <span>with a probability of {{+result?.probability | percent}}</span>
            </p>
        </div>
        <div *ngIf="debug?.error" style="border:1px solid red;">
            
            <p>
                {{debug?.code}}{{debug?.error}}
            </p>
        </div>
</div>